.CodeMirror {
  height: 340px !important;
  color: #fff;
}

.CodeMirror-gutters {
  background: #1d1e22 !important;
}

.CodeMirror-scroll {
  width: 100%;
  background: #1d1e22;
  position: absolute;
  /* overflow: hidden !important; */
}

.cm-s-material.CodeMirror {

  background-color: red;
  
}

/* .controlled-editor{
  height: 20px

} */

/* copy code text */
/* p{
  padding-left: 130px;
} */